html {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h1 {
    color: white
}

h2 {
    color: rgb(234, 234, 234)
}

label {
    color: white
}

body {
    width: 100%;
    height: 100%;
    background-color: #3a3a3a;
}



#note_to_play {
    height: 100%;
}

#videoBox {
    display: grid;
}

#videoElement {
    max-height: 10;
    /* mirror horizontally */
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    grid-row-start: 1;
    grid-column-start: 1;
}

#noteBeingPlayed, #overlay {
    grid-row-start: 1;
    grid-column-start: 1;
}

#overlay {
    z-index: 50;
}

#noteBeingPlayed {
    z-index: 100;
}
